@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto, sans-serif';
}

ul{
    background-color: #333;
    list-style-type: none;
    overflow: hidden;
    padding: 3px;
}
li{
    float: left;
    margin-right: 5px;
    padding: 1px; 
}
a{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    
}

a:hover{
    background-color: white;
    color: #333;
    text-align: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

 }



/*.logo{
      float: right;
      background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    }*/

    .active{
        background-color: white;
    color: #333;
    text-align: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    }


    /*New Cutomer*/

    form{
        padding-left: 20%;
        padding-right: 20%;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    option{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    input[type=text], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 8px;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

input[type=number], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 8px;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

input[type=submit] {
    background-color: #333;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #45a049;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/*about page*/

.about{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}